* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;

}

.flex-body {
    overflow: hidden;
}

.navigation-bar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navigation-bar-bg {
    background-color: white;
    width: 95%;
    height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
}

.navigation-bar-logo {
    width: 40%;
}

img.logo-img {
    width: 100px;
    cursor: pointer;
}

.navigation-bar-btns {
    display: flex;
    gap: 20px;
    margin: 0 10px;
    width: 50%;
    justify-content: end;
}

.nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

/* HOME AREA */
.home-flex-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
}

.home-bg {
    border-radius: 20px;
    width: 95%;
    display: flex;
    height: auto;
    background-color: white;
    flex-wrap: wrap;
}

.home-container-text {
    margin-top: 20px;
    padding: 50px;
}

.home-text {
    font-size: 50px;
    font-weight: bold;
    width: 300px;
}

.home-paws {
    margin-left: 100px;
}

.home-text-img-paws {
    display: flex;
}

img.home-paws-img {
    width: 150px;

}

.home-rotate-paws {
    transform: rotate(45deg);
}

.home-description-text {
    font-size: 25px;
    margin-top: 30px;
    width: 700px;
}

.home-btn-arrow-left {
    background-color: black;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
    gap: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}

.home-btn-book {
    color: white;
}

.home-dogs-imgs-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
}

.home-image-dogs {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.home-image-dogs-photo {
    width: 700px;
}

.home-dogs-layer2 {
    display: flex;
    gap: 50px;
}


.d1 {
    width: 400px;
    border-radius: 10px;
}

.d2 {
    width: 1200px;
}

/* OUR PASSION */
.our-passion-center {
    display: flex;
    justify-content: center;
}

.our-passion-bg {
    margin-top: 100px;
    background-color: white;
    width: 82%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    gap: 300px;
    align-items: center;
}

.our-passion-text-heading-bold {
    font-size: 50px;
    font-weight: bold;
}

.our-passion-text-second {
    width: auto;
    font-size: 20px;
}

.our-passion-services {
    display: flex;
    gap: 30px;
}

.services-circle-text {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    margin-top: 20px;
}

.services-circle {
    border-radius: 100%;
    width: 20px;
}

.services-circle-text {
    display: flex;
    gap: 10px;
}

.treatment {
    background-color: #38b6ff;
}

.Deworming {
    background-color: #0097b2;
}

.Emergency {
    background-color: #38b6ff;
}

.Pharmacy {
    background-color: red;
}

.Vaccination {
    background-color: #5e17eb;
}

.Surgery {
    background-color: #ffde59;
}

.Grooming {
    background-color: #ff914d;
}

.Diagnostics {
    background-color: #c1ff72;
}

/* SERVICE PROVIDE */

.service-provide-color {
    background-color: #5e17eb;
    color: #5e17eb;
    margin-top: 0;
    border-radius: 20px;
    width: 20px;
}

.our-services-circle-text {
    background-color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
}

.service-provide-center {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}



.service-provide-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.service-provide-box-bg {
    background-color: white;
    padding: 50px 30px 10px 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
}

.service-provide-box-content-heading {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.service-provide-box-content-description {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.service-provide-description-wd {
    width: 300px;
}


.service-provide-box-content-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    border-radius: 20px;
}

.service-provide-box-content-btns {
    background: none;
    color: white;
}

.service-provide-img-paws {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.service-provide-img-paws-bg {

    width: 60px;
    border-radius: 100%;
    align-items: center;
    display: flex;
}

.service-provide-content-flex {
    margin-top: 10px;
}

.service-providem-top {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

img.service-provide-img {
    width: 60px;
}

.service-provide-Diagnostics {
    background-color: #7ed957;
}

.service-provide-Deworming {
    background-color: #5170ff;
}

.service-provide-Grooming {
    background-color: #ff914d;
}

.service-providem-top {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    margin-top: 100px;
}

/* GALERRY */
.gallery-area-dog-center {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.gallery-area-dog-bg {
    background-color: white;
    width: 95vw;
    border-radius: 10px;
}

.gallery-area-dog-heading {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.gallery-dog-photo {
    width: 300px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

img.dog-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery-area-dog-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.gallery-area-dog-circle-btn-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gallery-area-dog-circle-btn-circles {
    display: flex;
    gap: 20px;
}

.gallery-slider-btns {
    background-color: black;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.gallery-area-dog-photos {
    margin-top: 50px;
}

.group {
    display: none;
}

.group1 {
    display: block;
}

.gallery-slider-btns.active {
    background-color: #5170ff;
    /* blue */
}

/* WHAT OUR CLIENT SAY*/

.what-our-client-say-center-flex {
    margin-top: 100px;
}

.what-our-client-say-heading-center {
    display: flex;
    justify-content: center;
}

.what-our-client-say-heading-bg {
    background-color: white;
    padding: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.what-our-client-say-content-center {
    display: flex;
    justify-content: center;
}

.what-our-client-say-content {
    width: 50%;
}

.what-our-client-say-content-bg {
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: -100px;
}

.bi-star-fill {
    color: #ffde59;
}

.what-our-client-say-content-spacer {
    margin-top: 10px;
}

img.quote-ratings {
    width: 200px;
}

.Who-is-Primavera-VetVillage-bg {
    margin-top: 100px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

.who-is-Primavera-VetVillage-photo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

img.Who-is-Primavera-VetVillage-dog-img {
    width: 200px;

    border-radius: 5px;
}

.Who-is-Primavera-VetVillage-dog-text-word {
    width: 30%;
}

.Who-is-Primavera-VetVillage-dog-text-word-heading {
    font-size: 20px;
    font-weight: bold;
}

.Who-is-Primavera-VetVillage-dog-text-word-heading-word {
    margin-top: 10px;
}

.lets-start-heading {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.lets-start-message {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.location-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.location-contact-address-flex {
    width: 90%;
    gap: 20px;
    display: flex;
}

.location-contact-us {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

.location-contact-us-heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

p.location-address-label {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.location-contact-map {
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
}

p.location-b-text {
    font-size: 25px;
    font-weight: bold;
}

.location-address-branches-heading {
    margin-top: 25px;
}

.location-address-message {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.location-address-branches-heading {
    margin-top: 40px;
}

.location-contact-address-flex {
    width: 90%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.location-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-info {
    background-color: white;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
}

.flex-footer-info {
    display: flex;
    padding: 20px;
    justify-content: center;
}


.flex-footer-details-content {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: unset;
}

.flex-footer-details-label {
    font-size: 20px;
    font-weight: bold;
}

.flex-footer-details-text {
    font-size: 15px;
    margin-top: 10px;
}

.footer-icons {
    margin-top: 10px;
    font-size: 20px;
    gap: 10px;
    color: black;
    display: flex;
}

.flex-footer-details-text-icon {
    color: black;
}

.copyright {
    justify-content: center;
    display: flex;
}




@media (max-width: 1900px) {
    .home-image-dogs {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home-paws {
        margin-left: 0;
        display: flex;
    }

    img.home-paws-img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width:1276px) {
    .flex-footer-details-text {
        font-size: 13px;
        margin-top: 10px;
    }

    .flex-footer-details-content {
        gap: 120px;
    }
}

@media (max-width:1140px) {
    .our-passion-text-heading-bold {
        font-size: 30px;
        font-weight: bold;
    }

    .our-passion-bg {
        gap: 10px;
    }

    .our-passion-text-second {
        width: auto;
    }
}

@media (max-width:1024px) {}

@media (max-width:768px) {

    .home-dogs-imgs-center {

        display: none;
    }

    .our-passion-services {
        justify-content: center;
    }

    .services-circle-text {
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 20px;
        width: 100px;
        margin-top: 20px;
        font-size: 10px;
        align-items: center;
    }

    .services-circle {
        border-radius: 100%;
        width: 20px;
        height: 20px;
    }



    .our-passion-text-second {
        width: 100%;
        font-size: 15px;
        flex-wrap: wrap;
        display: flex;
    }

    .Who-is-Primavera-VetVillage-dog-text-word-heading-word {
        margin-top: 10px;
        font-size: 10px;
    }

    .our-passion-bg {
        margin-top: 40px;
    }

    .our-passion-text-heading-bold {
        font-size: 30px;
        font-weight: bold;
    }

    .service-provide-center {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .service-provide-heading {
        text-align: center;
    }

    img.quote-ratings {
        margin-left: -50px;
        width: 100px;
    }

    .what-our-client-say-content-bg {

        margin-top: -50px;
    }

    .flex-footer-details-content {
        gap: 10px;
        flex-wrap: wrap;
    }


}

@media (max-width:724px) {
    .Who-is-Primavera-VetVillage-dog-text-word {
        width: 40%;
    }

    .Who-is-Primavera-VetVillage-dog-text-word-heading {
        font-size: 10px;
        font-weight: bold;
        width: 300px;
    }

    .Who-is-Primavera-VetVillage-dog-text-word-heading-word {
        margin-top: 10px;
        width: 100%;
    }


}

@media (max-width: 625px) {
    .home-bg {
        width: 100vw;
        border-radius: 0;
    }

    .home-flex-center {
        margin-top: 0;
    }

    .navigation-bar-bg {
        width: 100vw;
        border-radius: 0;
    }

    .navigation-bar {
        margin-top: 0;
    }

    .home-container-text {

        padding: 20px;
    }

    .home-text {
        font-size: 40px;
        font-weight: bold;
        width: 250px;
    }

    .home-paws {
        display: flex;
    }

    .home-description-text {
        font-size: 20px;
        margin-top: 0;
        width: 80%;
        flex-wrap: wrap;
    }

    img.home-paws-img {
        width: 50px;
        height: 50px;
    }

    .location-address-message {
        width: auto;
    }

    .location-contact-us {
        width: 90%;
    }

}







@media (max-width: 453px) {
    .nav-btn {
        font-size: 10px;
    }

    .home-paws {
        display: block;
    }

    .our-passion-bg {
        display: block;
    }

    .our-passion-bg {
        margin-top: 0;
    }

    img.what-our-client-say-content-profile-img {
        width: 20%;
    }

    .what-our-client-say-content-name {
        font-size: 10px;
    }

    .what-our-client-say-content-spacer {

        font-size: 10px;
    }

    img.quote-ratings {
        margin-left: -30px;
        width: 60px;
    }

    .what-our-client-say-content {
        width: auto;
        margin: 10px;
    }

    img.quote-ratings {
        margin-left: 0;
    }

    img.Who-is-Primavera-VetVillage-dog-img {
        width: 150px;
        border-radius: 5px;
    }
}

@media (max-width: 375px) {
    .navigation-bar-bg {
        border-radius: 0;
        width: 400px;
    }

    .navigation-bar {
        margin: 0;
    }

    .home-description-text {
        margin-top: 30px;
    }

    .home-image-dogs-photo {
        width: 300px;
    }

    .navigation-bar-btns {
        gap: 10px;
    }

    .home-btn-arrow-left {
        width: 100px;
        height: 10px;
        font-size: 15px;
        align-items: center;
    }

    .what-our-client-say-content {
        width: auto;
        margin: 10px;
    }

    img.quote-ratings {
        margin-left: 0;
    }
}

@media (max-width:320px) {
    .Who-is-Primavera-VetVillage-bg {
        margin-top: 30px;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
    }

    .who-is-Primavera-VetVillage-photo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .Who-is-Primavera-VetVillage-dog-text-word {
        width: 40%;
    }

    .Who-is-Primavera-VetVillage-dog-text-word-heading {
        font-size: 10px;
        font-weight: bold;
        width: 300px;
    }

    .Who-is-Primavera-VetVillage-dog-text-word-heading-word {
        margin-top: 10px;
        font-size: 8px;
        width: 150px;
    }

    img.Who-is-Primavera-VetVillage-dog-img {
        width: 100px;
    }

}